/* ------------------------------------- */

/* Общий верх */
@font-face {
	font-family: 'Gilroy Light';
	src: url('fonts/Gilroy-UltraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Regular';
	src: url('fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Medium';
	src: url('fonts/Gilroy-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy SemiBold';
	src: url('fonts/Gilroy-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Bold';
	src: url('fonts/Gilroy-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy ExtraBold';
	src: url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html{
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-family: 'Gilroy Regular';
	font-size: 16px;
	font-weight: normal;
	line-height: 29px;
	min-width: 320px;

	color: #fff;
	background-color: #171717;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.p0{
	padding: 0;
	margin: 0;
}
button{
	outline: none;
	cursor: pointer;
}
.span-medium{
	font-family: 'Gilroy Medium';
}
.span-bold{
	font-family: 'Gilroy Bold';
}
.title {
	font-family: 'Gilroy ExtraBold';
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #125ECF;
}
.container{
	max-width: 285px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		max-width: 690px;
		margin: 0 auto;
	}
	.title {
		font-size: 16px;
		line-height: 24px;
	}
}
@media (min-width: 1150px) {
	.container {
		max-width: 1110px;
		margin: 0 auto;
	}
} 




/* -------------------------- */
/* Top nav */

.header__wrap{
	position: fixed;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 450;
}
.header__btn{
	border: none;
	background-color: transparent;
	position: relative;
	margin-left: 15px;
	padding: 0;
}
.header__btn::before{
	position: absolute;
	content: "";
	top: -15px;
	left: 0;
	width: 41px;
	height: 22px;
	background: url("img/menu-btn.png");
}
.header__logo{
	display: none;
}
.header__text{
	display: none;
}
.header__tel{
	display: none;
}
.header__price{
	padding: 21.5px 27px;
	color: #fff;
	text-decoration: none;
	background: #125ECF;
	font-size: 12px;
	line-height: 17px;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.header__price:hover{
	background: #fff;
	color: #000;
}
.main__slider-companies-img:hover{
	/* filter: invert(100%); */
	-webkit-filter: brightness(0.3);
	        filter: brightness(0.3);
}

@media(min-width: 768px){
	.header__wrap{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.header__btn-logo-text{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-basis: 240px;
		    -ms-flex-preferred-size: 240px;
		        flex-basis: 240px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.header__tel-price{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-basis: 430px;
		    -ms-flex-preferred-size: 430px;
		        flex-basis: 430px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.header__btn{
		border: none;
		background-color: transparent;
		position: relative;
		margin-left: 40px;
		padding: 0;
	}
	.header__btn::before{
		position: absolute;
		content: "";
		top: -10px;
		left: 0;
		width: 41px;
		height: 22px;
		background: url("img/menu-btn.png");
	}
	.header__logo{
		display: block;
	}
	.header__text{
		display: none;
	}
	.header__tel{
		display: block;
		font-size: 20px;
		line-height: 23px;
		color: #fff;
		text-decoration: none;
		font-family: 'Gilroy Bold';
	}
	.header__tel:hover{
		text-decoration: underline;
	}
	.header__price{
		padding: 23.5px 35.5px;
		color: #fff;
		text-decoration: none;
		background: #125ECF;
		font-size: 16px;
		line-height: 22px;
	}
}
@media(min-width: 1150px){
	.header__wrap{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.header__btn-logo-text{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-basis: 400px;
		    -ms-flex-preferred-size: 400px;
		        flex-basis: 400px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.header__btn{
		border: none;
		background-color: transparent;
		position: relative;
		margin-left: 40px;
		padding: 0;
	}
	.header__logo{
		margin-left: 40px;
	}
	.header__btn::before{
		position: absolute;
		content: "";
		top: -10px;
		left: 0;
		width: 41px;
		height: 22px;
		background: url("img/menu-btn.png");
	}
	.header__text{
		display: block;
		font-size: 14px;
		line-height: 20px;
		width: 120px;
	}
	.header__tel{
		display: block;
		font-size: 20px;
		line-height: 23px;
		color: #fff;
		text-decoration: none;
		font-family: 'Gilroy Bold';
	}
	.header__price{
		padding: 23.5px 35.5px;
		color: #fff;
		text-decoration: none;
		background: #125ECF;
		font-size: 16px;
		line-height: 22px;
	}
}

/* Top nav */
/* -------------------------- */


/* -------------------------- */
/* Menu-black */

.header{
	background: #0F0F0F;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1500;
}
.header__btn:hover{
	-webkit-filter: brightness(0.5);
	        filter: brightness(0.5);
}
.header__nav-list{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
}
.header__nav-item:last-of-type{
	margin-bottom: 0;
}
.header__nav-item{
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 5px solid #0F0F0F;
	margin-bottom: 30px;
}
.header__nav-item:hover{
	border-bottom: 5px solid #125ECF;
}

.header__button-close{
	position: absolute;
	top: 3%;
	left: 3%;
	width: 31px;
	height: 31px;
	background: url("img/close.png");
	border: none;
}
.header__button-close:hover{
	-webkit-filter: hue-rotate(30deg);
	        filter: hue-rotate(30deg);
	-webkit-animation: rot 1s ease-out;
	        animation: rot 1s ease-out;
}
.header__nav-item-link{
	color: #fff;
	text-decoration: none;
}
@media(min-width:768px){
	.header__nav-list{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		list-style: none;
		padding: 0;
		text-align: center;
		font-size: 60px;
		line-height: 60px;
		margin: 0;
		width: 450px;
	}
	.header__nav-item{
		display: inline-block;
		padding-bottom: 10px;
		border-bottom: 5px solid #0F0F0F;
		margin-bottom: 45px;
	}

	.header__button-close{
		position: absolute;
		top: 3%;
		left: 3%;
		width: 31px;
		height: 31px;
		background: url("img/close.png");
		border: none;
	}

}
@media(min-width:1150px){
	.header__nav-list{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		list-style: none;
		padding: 0;
		text-align: center;
		font-size: 70px;
		line-height: 70px;
		margin: 0;
		width: 500px;
	}
	.header__nav-item{
		display: inline-block;
		padding-bottom: 10px;
		border-bottom: 5px solid #0F0F0F;
		margin-bottom: 60px;
	}

	.header__button-close{
		position: absolute;
		top: 3%;
		left: 3%;
		width: 31px;
		height: 31px;
		background: url("img/close.png");
		border: none;
	}

}

/* Menu-black */
/* -------------------------- */


/* -------------------------- */
/* First screen */
.main__slider{
	/* background: url("img/main-bg.jpg") no-repeat 35% 50%; */
	background-clip: content-box;
	background-attachment: fixed;
	-webkit-background-size: cover;
	        background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}
.main__slider-bg{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	z-index: -100;
}
.main__slider-video-bg{
	height: 150vh;
    width: 100%;
    display: block;
    -webkit-filter: grayscale(1) brightness(0.2);
            filter: grayscale(1) brightness(0.2);

    z-index: -100;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: -25vh;
}
.main__slider-head{
	font-size: 40px;
	line-height: 40px;
}
.main__slider-wrap{
	padding-top: 25vh;
	z-index: 100;
}
.main__slider-social{
	display: none;
}
.main__slider-companies{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 50px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding-bottom: 17px;
}
.main__slider-head{
	font-family: 'Gilroy Light';
	margin-bottom: 25px;
}
.main__slider-text{
	margin-bottom: 8vh;
	margin-right: 88px;
}
.main__slider-companies-img{
	margin-bottom: 37px;
}

.main__best-img{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}
.main__best-img-wrap{
	position: relative;
}
.main__best-img-wrap::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.6)), to(rgba(15, 15, 15, 0.6)));
	background-image: -webkit-linear-gradient(bottom, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
	background-image: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
	background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
}
.main__best-img-wrap::after{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 67px;
	height: 67px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: url("img/play-s.png");
}
.main__best-iframe{
	width: 80vh;
	height: 50vw;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: none;
	z-index: 600;
}
.modal-shadow{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 499;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}
.modal-shadow-close{
	position: absolute;
	top: 34%;
	right: 5%;
	width: 31px;
	height: 31px;
	background: url("img/close.png");
	border: none;
}
.modal-shadow-close:hover{
	-webkit-animation: rot 1s ease-out;
	        animation: rot 1s ease-out;
}

@-webkit-keyframes rot {
		 0% { -webkit-transform: rotate(0); transform: rotate(0); }
		 100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	}

@keyframes rot {
		 0% { -webkit-transform: rotate(0); transform: rotate(0); }
		 100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	}

.main__best-pos{
	position: relative;
}
.main__best-img-text{
	position: absolute;
	top: 73%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	        transform: translate(-50%,0);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}
.main__slider-works{
	display: none;
}
@media(min-width: 768px){
	.main__slider{
		/* background: url("img/main-bg.jpg") no-repeat 35% 50%; */
		background-clip: content-box;
		background-attachment: fixed;
		-webkit-background-size: cover;
		        background-size: cover;
		height: 100vh;
		width: 100%;
		position: relative;
	}
	.main__slider-head{
		font-size: 70px;
		line-height: 70px;
	}
	.main__slider-wrap{
		padding-top: 26.5vh;
	}
	.main__slider-companies{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-right: 50px;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		padding-bottom: 57px;
		width: 485px;
	}
	.main__slider-social{
		display: block;
		position: absolute;
		top: 34vh;
		right: 40px;
		width: 50px;
		height: 135px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.main__slider-social-img:hover{
		/* filter: invert(100%); */
		-webkit-filter: brightness(0.5);
		        filter: brightness(0.5);
		/* filter: contrast(0.1); */
	}
	.main__slider-head{
		font-family: 'Gilroy Light';
		margin-bottom: 25px;
		width: 500px;
	}
	.main__slider-text{
		margin-bottom: 20.5vh;
		margin-right: 88px;
		font-size: 16px;
		line-height: 27px;
	}

	.main__best-img{
		width: 100%;
		height: auto;
		display: block;
		position: relative;
	}
	.main__best-img-wrap{
		position: relative;
	}
	.main__best-img-wrap::before{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.6)), to(rgba(15, 15, 15, 0.6)));
		background-image: -webkit-linear-gradient(bottom, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
		background-image: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
		background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6));
	}
	.main__best-img-wrap::after{
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		width: 67px;
		height: 67px;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		background: url("img/play-s.png");
	}
	.main__best-iframe{
		width: 80vh;
		height: 50vw;
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		display: none;
		z-index: 600;
	}
	.modal-shadow{
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		z-index: 499;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
	}
	.modal-shadow-close{
		position: absolute;
		top: 34%;
		right: 5%;
		width: 31px;
		height: 31px;
		background: url("img/close.png");
		border: none;
	}

	.modal-shadow-close:hover{
		-webkit-animation: rot 1s ease-out;
		        animation: rot 1s ease-out;
	}

	@-webkit-keyframes rot {
		 0% { -webkit-transform: rotate(0); transform: rotate(0); }
		 100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	}

	@keyframes rot {
		 0% { -webkit-transform: rotate(0); transform: rotate(0); }
		 100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	}

	.main__best-pos{
		position: relative;
	}
	.main__best-img-text{
		position: absolute;
		top: 73%;
		left: 50%;
		-webkit-transform: translate(-50%,0);
		    -ms-transform: translate(-50%,0);
		        transform: translate(-50%,0);
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.4em;
		text-transform: uppercase;
	}
}
@media(min-width: 1250px){
	.main__slider-head{
		margin-bottom: 25px;
		width: 600px;
	}
	.main__slider-works{
		position: absolute;
		top: 375px;
		left: -60px;
		width: 200px;
		height: 50px;
		display: block;
	}
	.main__slider-works-text{
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.4em;
		text-transform: uppercase;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
	}
	.main__slider-works-text::before{
		position: absolute;
		content: "";
		top: -48px;
		right: 275px;
		width: 14px;
		height: 115px;
		background: url("img/arrow-down.png");
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-animation: long 1s infinite;
		        animation: long 1s infinite;
	}
	@-webkit-keyframes long {
		 0% {right: 265px;}
		 100% {right: 275px;}
	}
	@keyframes long {
		 0% {right: 265px;}
		 100% {right: 275px;}
	}
}


/* First screen */
/* -------------------------- */








.port__wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.port__wrap-item{
	width: 50%;
	position: relative;
}
.port__wrap-img{
	width: 100%;
	display: block;
}
.port__wrap-img-text{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 80%;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}
.port__wrap-item:hover .port__wrap-img-text{
	display: block;
}
.port__wrap-link{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.4em;
	padding: 41px 0;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}


/* Question */



/* Everywhere */
.everywhere {
	padding-top: 10px;
	padding-bottom: 79px;
}
.everywhere .container {
	position: relative;
}
.everywhere__text {
	font-family: 'Gilroy ExtraBold';
	font-size: 26px;
	line-height: 29px;
	color: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 24px;
	padding-right: 40px;
}
.everywhere__desc {
	font-size: 16px;
	line-height: 29px;
	margin-bottom: 40px;
}
.everywhere__main-img {
	max-height: 179px;
	width: auto;
}
.everywhere__small-img {
	max-height: 71px;
	width: auto;
	position: absolute;
	bottom: -10px;
    right: 10px;
}
@media(min-width: 768px) {
	.everywhere {
		padding-bottom: 78px;
	}
	.everywhere__title {
		font-size: 14px;
		line-height: 21px;
	}
	.everywhere__text {
		font-size: 40px;
		line-height: 44px;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		width: 52%;
		margin-top: 3px;
		margin-bottom: 24px;
		padding-right: 40px;
	}
	.everywhere__desc {
		display: inline-block;
		vertical-align: top;
		width: 47%;
		margin-top: 10px;
		margin-bottom: 46px;
	}
	.everywhere__main-img {
		max-height: 305px;
	}
	.everywhere__small-img {
		max-height: 170px;
		position: absolute;
		bottom: -38px;
	    right: 30px;
	}
}
@media(min-width: 1150px) {
	.everywhere {
		padding-bottom: 171px;
	}
	.everywhere .container::before {
		position: absolute;
		content: "+";
		width: 35px;
	    height: 40px;
	    right: 88px;
    	top: 83px;
	    color: #125ECF;
	    font-family: 'Gilroy Light';
	    font-size: 60px;
	    line-height: 40px;
	}
	.everywhere__title {
		font-size: 14px;
		line-height: 21px;
	}
	.everywhere__text {
		font-size: 55px;
		line-height: 61px;
		width: 42.5%;
		margin-top: 4px;
		margin-bottom: 24px;
		padding-right: 40px;
	}
	.everywhere__desc {
		font-size: 18px;
		line-height: 32px;
		width: 35%;
		margin-top: 15px;
		margin-bottom: 46px;
	}
	.everywhere__main-img {
		max-height: 486px;
	}
	.everywhere__small-img {
		max-height: 269px;
		position: absolute;
		bottom: -46px;
	    right: 65px;
	}
}

/* Result */
.result {
	background-image: url("img/result_bg.png");
	background-size: auto 1070px;
	background-repeat: no-repeat;
	background-position: 76% 56%;
	padding-top: 10px;
	padding-bottom: 87px;
}
.result__right {
	display: none;
}
.result__text {
	font-family: 'Gilroy ExtraBold';
	font-size: 26px;
	line-height: 29px;
	color: #FFFFFF;

	margin-top: 17px;
	margin-bottom: 43px;
	padding-right: 40px;
}
.result__list {
	list-style: none;
}
.result__item {
	margin-bottom: 39px;
}
.result__item-img {
	display: block;
}
.result__item:first-child .result__item-img {
	margin-left: 10px;
	margin-bottom: 37px;
}
.result__item-title {
	font-family: 'Gilroy ExtraBold';
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 35px;
}
.result__item-desc {
	font-size: 17.5px;
	line-height: 32px;
	color: #FFFFFF;
	padding-right: 5px;
}
@media(min-width: 768px) {
	.result {
		position: relative;
		background: none;
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.result::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 812px;
		left: 0;
		bottom: -118px;
		background-image: url("img/result_bg.png");
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: 62% bottom;
		z-index: -1;
	}
	.result__title {
		font-size: 14px;
		line-height: 21px;
	}
	.result__text {
		font-size: 40px;
		line-height: 44px;
		margin-top: 15px;
		margin-bottom: 25px;
		padding-right: 24%;
	}
	.result__list {
		display: flex;
	}
	.result__item {
		flex-basis: 46%;
		margin-right: 41px;
		margin-bottom: 39px;
	}
	.result__item:last-child {
		margin-right: 0;
	}
	.result__item-img {
		display: block;
		margin-bottom: 30px;
	}
	.result__item:first-child .result__item-img {
		margin-top: 43px;
		margin-left: 0;
	    margin-bottom: 40px;
	}
	.result__item-title {
		font-family: 'Gilroy ExtraBold';
		font-size: 24px;
		line-height: 36px;
		color: #FFFFFF;
		margin-bottom: 35px;
	}
	.result__item-desc {
		font-size: 18px;
		line-height: 32px;
		color: #FFFFFF;
		padding-right: 5px;
	}
}
@media(min-width: 1150px) {
	.result {
		padding-bottom: 60px;
	}
	.result::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 812px;
		left: 0;
		bottom: -414px;
		background-image: url("img/result_bg.png");
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: 81% bottom;
		z-index: -1;
	}
	.result .container {
		position: relative;
	}
	.result .container::before {
		position: absolute;
		content: "+";
		width: 35px;
	    height: 40px;
	    right: -40px;
	    bottom: -29px;
	    color: #FFF;
	    font-family: 'Gilroy Light';
	    font-size: 60px;
	    line-height: 40px;
	}
	.result__text {
		font-size: 55px;
		line-height: 61px;
		margin-bottom: 42px;
		padding-right: 34%;
	}
	.result__right {
		display: block;
		position: absolute;
		width: 32%;
	    top: 27px;
	    right: -6px;
	}
	.result__right-text {
		font-size: 18px;
		line-height: 32px;
		color: #FFFFFF;
		margin-bottom: 34px;
	}
	.result__list {
		display: flex;
		width: 66%;
	}
	.result__item {
		flex-basis: 46%;
		margin-right: 41px;
		margin-bottom: 39px;
	}
	.result__item:last-child {
		margin-right: 0;
	}
	.result__item-img {
		display: block;
		margin-bottom: 30px;
	}
	.result__item:first-child .result__item-img {
		margin-top: 43px;
		margin-left: 0;
	    margin-bottom: 40px;
	}
	.result__item-title {
		font-family: 'Gilroy ExtraBold';
		font-size: 24px;
		line-height: 36px;
		color: #FFFFFF;
		margin-bottom: 35px;
		padding-right: 20px;
	}
	.result__item-desc {
		font-size: 18px;
		line-height: 32px;
		color: #FFFFFF;
		padding-right: 5px;
	}
}



/* Facts */
.facts {
	position: relative;
	padding-bottom: 124px;
}
.facts::before {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 100%;
	height: 338px;
	background-image: url("img/cloud.png");
	background-repeat: no-repeat;
	background-position: 17% center;
}
.facts__wrapper {
	padding: 26px 38px 105px 35px;
	background: #095DDA;
	-webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}
.facts__title {
	font-family: 'Gilroy ExtraBold';
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.facts__text {
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
}
.facts__list {
	list-style: none;
}
.facts__item {
	margin-bottom: 40px;
}
.facts__item-title {
	font-family: 'Gilroy Light';
	font-size: 55px;
	line-height: 82px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 10px;
}
.facts__item-desc {
	font-size: 16px;
	line-height: 27px;
	color: #FFFFFF;
}

@media(min-width: 768px) {
	.facts {
		padding-bottom: 174px;
	}
	.facts::before {
		position: absolute;
		content: "";
		bottom: 0;
    	right: 0;
		width: 68%;
		height: 338px;
		background-image: url("img/cloud.png");
		background-repeat: no-repeat;
		background-position: left center;
		z-index: 2;
	}
	.facts__wrapper {
		position: relative;
		padding: 45px 100px 44px 63px;
	    margin-right: 30px;
	    box-sizing: border-box;
	}
	.facts__wrapper::before {
		position: absolute;
		content: "";
		bottom: -83px;
    	right: -30px;
		width: 595px;
		height: 898px;
		background-image: url("img/facts_before.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 17% center;
		z-index: -1;
	}
	.facts__title {
		font-size: 14px;
		line-height: 21px;
	}
	.facts__text {
		margin-top: 15px;
		margin-bottom: 27px;
		font-size: 40px;
		line-height: 52px;
	}
	.facts__list {
		display: flex;
		flex-wrap: wrap;
	}
	.facts__item {
		flex-basis: 40%;
		margin-right: 40px;
		margin-bottom: 23px;
	}
	.facts__item:nth-child(3){
		order: -1;
		flex-basis: 38%;
	}
	.facts__item:nth-child(1){
		order: -1;
	}
}
@media (min-width: 1150px) {
	.facts {
		padding-bottom: 178px;
	}
	.facts::before {
		position: absolute;
		content: "";
		bottom: 15px;
    	right: 0;
		width: 46%;
		height: 338px;
		background-image: url("img/cloud.png");
		background-repeat: no-repeat;
		background-position: left center;
		z-index: 2;
	}
	.facts__wrapper {
		position: relative;
		padding: 52px 0 44px 70px;
	    margin-right: 66px;
	    box-sizing: border-box;
	}
	.facts__wrapper::before {
		position: absolute;
		content: "";
		bottom: -116px;
    	right: -75px;
		width: 1024px;
		height: 523px;
		background-image: url("img/facts_before-desktop.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 17% center;
		z-index: -1;
	}
	.facts__text {
		margin-top: 15px;
		margin-bottom: 41px;
		padding-right: 30%;
	}
	.facts__list {
		display: flex;
		flex-wrap: nowrap;
	}
	.facts__item {
		flex-basis: 22%;
		margin-right: 27px;
		margin-bottom: 23px;
	}
	.facts__item:nth-child(3){
		flex-basis: 22%;
	}
	.facts__item:last-child{
		margin-right: 0;
	}
}

/* Footer */

.footer {
	position: relative;
	padding-top: 49px;
	padding-bottom: 20px;
}
.footer__title {
	z-index: 1;
	margin-bottom: 18px;
}
.footer__title-bg {
	font-family: 'Gilroy Bold';
	font-size: 65px;
	line-height: 82px;
	color: #0E0E0E;

	position: absolute;
	top: 0;
    left: -7px;
    z-index: -1;
}
.footer__tel {
	display: block;
	margin-bottom: 43px;
	font-family: 'Gilroy Bold';
	font-size: 39px;
	line-height: 50px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer__tel:hover {
	text-decoration: underline;
}
.footer__social-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 160px;
    margin-bottom: 45px;
}
.footer__social-link {
	display: inline-block;
	text-decoration: none;
}
.footer__social-link:hover {
	-webkit-filter: invert(1);
	        filter: invert(1);
}
.footer__link-aboutUs {
	display: block;
	margin-bottom: 58px;
	font-size: 16px;
	line-height: 24px;
	text-decoration: underline;
	color: #FFFFFF;
}
.footer__link-aboutUs:hover {
	text-decoration: none;
}

.footer__forma-wrapper {
	margin: 58px 0 38px;
}
.footer__forma-title {
	font-family: 'Gilroy SemiBold';
	font-size: 16px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.footer__forma-input::-webkit-input-placeholder {
	color: #FFFFFF;
}
.footer__forma-input:-ms-input-placeholder {
	color: #FFFFFF;
}
.footer__forma-input::-ms-input-placeholder {
	color: #FFFFFF;
}
.footer__forma-input::placeholder {
	color: #FFFFFF;
}
.footer__forma-input {
	width: 100%;
	background-color: transparent;
	-webkit-box-sizing: border-box;
            box-sizing: border-box;
	border: 1px solid #434343;
	padding: 15px 28px;
    margin-bottom: 27px;
	
	font-family: 'Gilroy Regular';
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
}
.footer__forma-button {
	width: 100%;
	height: 60px;
	margin-bottom: 27px;
	border: none;
	background: #125ECF;
	font-family: 'Gilroy Bold';
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.footer__forma-button:hover {
	background: #FFFFFF;
	color: #000;
}
.footer__forma-label {
	display: block;
	margin-bottom: 37px;
	font-size: 12px;
	line-height: 22px;
}
.footer__forma-check {
	position: absolute;
    left: -99999px; 
}
.footer__forma-span {
	display: inline-block;
    position: relative;
    margin: 0;
    background-color: transparent;
    border: 1px solid #FFF;
    width: 15px;
    height: 15px;
    margin-right: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}
.footer__forma-check:checked + .footer__forma-span::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("img/check.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 2;
}

.footer__link-priv {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 21px;
	text-decoration: underline;
	color: #FFFFFF;
}
.footer__link-priv:hover {
	text-decoration: none;
}
@media (min-width: 768px) {
	.footer {
		padding-top: 129px;
	}
	.footer__title {
	    margin-bottom: 28px;
	}
	.footer__title-bg {
		font-size: 156px;
		line-height: 195px;
		position: absolute;
		top: 0;
	    left: -11px;
	    z-index: -1;
	}
	.footer__tel {
	    margin-bottom: 24px;
	    font-size: 70px;
	    line-height: 87px;
	}
	.footer__social-wrapper {
	    display: -webkit-inline-box;
	    display: -webkit-inline-flex;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    width: 160px;
	    margin-bottom: 70px;
	    margin-left: 10px;
	    margin-right: 39px;
	}
	.footer__link-aboutUs {
		display: inline-block;
		margin-bottom: 11px;
		font-size: 16px;
		line-height: 24px;
		text-decoration: underline;
		color: #FFFFFF;
		vertical-align: middle;
	}

	.footer__forma-wrapper {
		margin: 0 0 80px;
	}
	.footer__forma-title {
		margin-bottom: 27px;
	}
	.footer__forma-input {
		width: 100%;
		background-color: transparent;
		-webkit-box-sizing: border-box;
	            box-sizing: border-box;
		border: 1px solid #434343;
		padding: 15px 33px;
	    margin-bottom: 24px;
		
		font-family: 'Gilroy Regular';
		font-size: 16px;
		line-height: 27px;
		color: #FFFFFF;
	}
	.footer__forma-button {
		width: 100%;
		height: 60px;
		margin-bottom: 34px;
		border: none;
		background: #125ECF;
		font-family: 'Gilroy Bold';
		font-size: 16px;
		line-height: 22px;
		color: #FFFFFF;
	}
	.footer__forma-button:hover {
		background: #FFFFFF;
		color: #000;
	}
	.footer__forma-label {
		display: block;
		margin-bottom: 37px;
		font-size: 12px;
		line-height: 22px;
	}
	.footer__link-priv {
		display: block;
		margin-bottom: 60px;
		font-size: 16px;
		line-height: 24px;
		text-decoration: underline;
		color: #FFFFFF;
	}
	.footer__link-priv:hover {
		text-decoration: none;
	}
}
@media (min-width: 1150px) {
	.footer {
		padding-top: 186px;
	}
	.footer__title {
	    margin-bottom: 28px;
	}
	.footer__title-bg {
		font-size: 217px;
		line-height: 271px;
		position: absolute;
		top: 0;
	    left: -18px;
	    z-index: -1;
	}
	.footer__tel {
	    margin-bottom: 24px;
	    font-size: 70px;
	    line-height: 87px;
	}
	.footer__social-wrapper {
	    display: -webkit-inline-box;
	    display: -webkit-inline-flex;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    width: 160px;
	    margin-bottom: 168px;
	    margin-left: 0;
	    margin-right: 39px;
	}
	.footer__link-aboutUs {
		display: inline-block;
		margin-bottom: 11px;
		font-size: 16px;
		line-height: 24px;
		text-decoration: underline;
		color: #FFFFFF;
		vertical-align: middle;
	}
	.footer__forma-wrapper {
		margin: 0;
		position: absolute;
	    top: 243px;
	    right: 0;
	    width: 445px;
	}
	.footer__forma-title {
		font-family: 'Gilroy Regular';
		margin-bottom: 27px;
		font-size: 15.5px;
	}
	.footer__forma-input {
		width: 100%;
		background-color: transparent;
		-webkit-box-sizing: border-box;
	            box-sizing: border-box;
		border: 1px solid #434343;
		padding: 15px 33px;
	    margin-bottom: 24px;
		
		font-family: 'Gilroy Regular';
		font-size: 16px;
		line-height: 27px;
		color: #FFFFFF;
	}
	.footer__forma-button {
		width: 100%;
		height: 60px;
		margin-bottom: 34px;
		border: none;
		background: #125ECF;
		font-family: 'Gilroy Bold';
		font-size: 16px;
		line-height: 22px;
		color: #FFFFFF;
	}
	.footer__forma-button:hover {
		background: #FFFFFF;
		color: #000;
	}
	.footer__forma-label {
		display: block;
		margin-bottom: 37px;
		font-size: 12px;
		line-height: 22px;
	}
	.footer__link-priv {
		display: block;
		margin-bottom: 60px;
		font-size: 16px;
		line-height: 24px;
		text-decoration: underline;
		color: #FFFFFF;
	}
	.footer__link-priv:hover {
		text-decoration: none;
	}
}